.input {
	display: flex;
	position: relative;
	border-bottom: 1px solid #ccc;
	line-height: inherit;

	> input {
		flex-grow: 1;
		padding: 0;
		border: 0;
		color: #aaa;
		font: inherit;
		transition: padding .2s ease-out;

		&::-webkit-input-placeholder {
			color: #ddd;
		}

		&::-moz-placeholder {
			color: #ddd;
			opacity: 1;
		}

		&:-ms-input-placeholder {
			color: #ddd;
		}

		&:-moz-placeholder {
			color: #ddd;
		}

		&:focus {
			color: #444;
			outline: 0;
		}
	}
}
