@value * as v from './vars.css';

.container {
	display: flex;
	min-height: 100vh;
}

.brand {
	flex-grow: 1;
	background: color(v.c-main a(90%));
}

.content {
	display: flex;
	flex-flow: column;
	flex-grow: 1;
	justify-content: center;
	padding: 40px;
	background: #fff;
	box-shadow: 0 -5px 5px color(#000 a(50%));
}
